body {
    background: #d5f0f3;
    }

.box {
    background:#c7eaee;
    width: 30%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 20px;
}